---
import SvgIcon from '../components/SvgIcon.astro';

interface Props {
	iconName: string;
	label: string;
	to: string;
}

const generateId = (tag: string) => {
	let s = '';
	crypto.getRandomValues(new Uint8Array(16)).forEach(byte => {
		s += byte.toString(36);
	});
	return s.slice(0, 10) + "_" + tag;
};

const tooltipId = generateId(Astro.props.iconName);

const { iconName, label, to } = Astro.props;
---

<a
	aria-label={label}
	aria-describedby={tooltipId}
	href={to}
	target="_blank"
>
	<SvgIcon iconName={iconName} />
	<span
		class="tooltip"
		role="tooltip"
		id={tooltipId}
	>
		{label}
	</span>
</a>

<style>
a {
	height: 100%;
	display: inline-block;
}
a:focus .tooltip,
a:hover .tooltip {
	opacity: 1;
	translate: calc(-50% - 1em) calc(-125% - 0.75em);
	transition:
		opacity 250ms ease 500ms,
		translate 200ms linear(0, 0.008 1.1%, 0.034 2.3%, 0.134 4.9%, 0.264 7.3%, 0.683 14.3%, 0.797 16.5%, 0.89 18.6%, 0.967 20.7%, 1.027 22.8%, 1.073 25%, 1.104 27.3%, 1.123 30.6%, 1.119 34.3%, 1.018 49.5%, 0.988 58.6%, 0.985 65.2%, 1 84.5%, 1) 500ms;
}
/* span { */
/* 	position: absolute; */
/* 	opacity: 0; */
/* 	user-select: none; */
/* 	pointer-events: none; */
/* 	background: var(--background-color); */
/* 	box-shadow: var(--shadow); */
/* 	border-radius: var(--border-radius); */
/* 	translate: calc(-75%) -125%; */
/* 	transition: translate 150ms ease 500ms, opacity 150ms ease 500ms; */
/* 	padding: 0.25em 0.5em; */
/* 	text-rendering: optimizeLegibility; */
/* 	will-change: opacity; */
/* } */
</style>
