---
import { getCollection } from 'astro:content';
import Layout from "../../../../layouts/Layout.astro"
import PostCard from '../../../../components/PostCard.astro';
import Pagination from '../../../../components/Pagination.astro';
import { slugify } from '../../../../scripts/utils';

import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {

	const blogSeries = await getCollection('blogSeries');

	const blogPosts = (await getCollection('blog'))
		.filter(({ data }) => data.hasOwnProperty('series'))
		.sort((a, b) => a.data.createdAt.valueOf() - b.data.createdAt.valueOf());

	const groupedBySeries = Map.groupBy(blogPosts, (post) => {
		const series = blogSeries.find(series => series.data.title === post.data.series);
		if (!series) {
			throw new Error(`No match found for post series ${post.data.series}`);
		}
		return series.data.title;
	});

	return blogSeries.flatMap((series) => {
		return paginate(groupedBySeries.get(series.data.title)!, {
			params: {
				series: slugify(series.data.title)
			},
			props: {
				series
			},
			pageSize: 15
		})
	});
}) satisfies GetStaticPaths;

const { page, series: { data, rendered } } = Astro.props;
const { series } = Astro.params;
---

<Layout>
	<header>
		<h1>{data.title}</h1>
	</header>

	<article>
		<div class="asciidoc" set:html={rendered?.html} />
	</article>

	<ul>
		{page.data.map(post => (
			<li><PostCard post={post} /></li>
		))}
	</ul>

	<footer>
		<Pagination base={`blog/series/${series}`} page={page} />
	</footer>
</Layout>

<style>
p.preamble {
	color: var(--subtitles);
	margin-bottom: 1em;
}
ul {
	margin-top: 2rem;
}
li {
	/* margin-top: 1em; */
	padding: 0.5em;

	&:hover {
		background-color: var(--background-color-2);
	}
}
hr {
	color: var(--subtitles);
}
</style>
